<!-- CONTACT SECTION -->        

<article class="container" id="contact-background" data-stellar-background-ratio=".8" >
	<section class="col xs-0 col-sm-3 col-md-4 col-lg-6">
		<%= image_tag("Cabins_7.jpg", :alt => "ladder stair", class: "img-responsive") %>
		<!-- <img src="/images/Cabins_7.jpg" alt="ladder stair" class="img-about"> -->
	</section>
  <section class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
		<h1>scape design studio</h1>
		<p><strong>Gretchen V. Wagner</strong><br />Principal, NCARB, AIA<br /><br />208.720.9714 tel<br />208.622.7227 fax<br /><a href="mailto:gretchen@scapedesignstudio.com">gretchen@scapedesignstudio.com</a><br /><br /><strong>Visit</strong><br />320 N. First Ave, Suite 201<br />Ketchum, ID 83340<br /><br /><strong>Mail</strong>&nbsp;<br />P.O. Box 2640<br />Ketchum, ID 83340<br /><br /><strong>Ship</strong><br />650 El Dorado Lane<br />Hailey, ID 8333</p>

	</section>
</article><!--end contact section-->
