<div class="mapping">
	<ul class="mapping-nav">
		<li><a href="ourwork.html">our work</a></li>
		<li><a href="wip.html">works in progress</a></li>
		<li><a href="publications.html">publications</a></li>
		<li><a href="contact.html">contact</a></li>
	</ul>
</div>


<h1>StaticPages#mapping</h1>
<p>Find me in app/views/static_pages/mapping.html.erb</p>
