<!-- NAVBAR -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="nav-home">
        <a href="/static_pages/mapping">scape design studio</a>
    	</div><!--end nav-home-->
  	</div><!-- end navbar-header -->
	</div><!-- end container-fluid -->
</nav><!-- end navbar -->