<p>This needs to get a new controller and different base file.</p>
<p>Find me in app/views/home/index.html.erb</p>
<% @images.each do |image| %>
   <%= image_tag "home/#{image.split('/').last}" %>
 <% end %>
