<p id="notice"><%= notice %></p>
  <div class="nav-home"><a href="/static_pages/mapping.html">scape design studio</a></div>
  <div class="container-fluid">
    <div class="row">
      <%= render @projects %>
    </div>
  </div>
