<!-- FOOTER -->
  <div class="navbar navbar-fixed-bottom footer">
    <hr>
    <div class="footer-left"><%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %></div>
    <div class="footer-right">&copy; the-is.com</div>
  </div>
